@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700|Raleway:400,700);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.disabled {
   pointer-events: none;
   cursor: default;
}

.uppercase {
  text-transform: uppercase;
}

html {
  position: relative;
  width: 100%;
  min-height: 100%; /*Sticky Footer*/
}

body {
  width: 100%;
  background-color: #f9f9f9;
  font-family: Raleway;
}

[ng-click] {
  cursor: pointer;
}

#title {
  font-size: 4em;
  margin-top: -10px;
}

h1,
h2,
h3,
h4 {
  font-family: Raleway;
  font-weight: 700;
}

p,
a,
li,
h5,
h6,
label {
  font-family: Quicksand;
  font-weight: 400;
  text-decoration: none !important;
}

li {
  display: inline-block;
}

li a {
  cursor: pointer;
  color: #000000;
  opacity: 0.8;
  text-decoration: none;
}

li a:hover, li a:focus, li a.active {
  color: #5cbf92;
  opacity: 1;
}

ul {
  margin-left: -3em;
}

span {
  font-family: Raleway;
  font-weight: 700;
}

/*parallax*/
.parallax {
  /* The image used */
  background-image: url("../images/matt-johnson2.jpeg");
  /* Full height */
  min-height: 200px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Nav Bar*/
#logo {
  opacity: 0.9;
  margin-top: -4em;
}

#nav-seperator {
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 20px;
}

nav {
  font-size: 1em;
  padding-bottom: 1.5em;
  margin-top: -4em;
  transform: scale(1,.95);
  -webkit-transform:scale(1,.95);
  -moz-transform:scale(1,.95);
  -ms-transform:scale(1,.95);
  -o-transform:scale(1,.95);
}


/*Feed Grid*/
.container {
  max-width: 1050px;
}

.content {
  width: 100%;
  margin-bottom: 7em;
}

.feed-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.card {
  position: relative;
  width: 330px;
  height: 220px;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
}

.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wide {
  min-width: 97%;
  height: auto;
}

.thin {
  max-height: 20px;
  margin-top: -20px !important;
  width: 100%;
}

.slim {
  max-height: 50px;
}


.tall {
  min-height: 300px;
}

.work-select {
  min-width: 90%;
}

.work {
  min-width: 400px;
  height: auto;
}

.no-margin {
  margin: 0px !important;
}

/*Video*/
.vid-div {
  overflow: hidden;
  max-height: 420px;
}

.vid-div-slit {
  overflow: hidden;
  max-height: 130px;
}

.videoWrapper {
	position: relative;
  left: 0; right: 0;
  margin-top: -8%;
  margin-bottom: -9%;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapperBranding {
	position: relative;
  left: 0; right: 0;
  margin-top: 0%;
  margin-bottom: -11%;
  padding-bottom: 48.25%; /* 16:9 */
  height: 0;
}

.videoWrapperProfile {
  position: relative;
  left: 0; right: 0;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapperSlit {
  position: relative;
  left: 0; right: 0;
  margin-top: -12%;
  padding-bottom: 56%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe,
.videoWrapperProfile iframe,
.videoWrapperSlit iframe,
.videoWrapperSlit img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*Main Work*/
/*Figures*/
/*figures hover*/
figure.snip,
figure.plain {
  color: #5cbf92;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #000000;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

figure.snip img,
figure.plain img {
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.snip figcaption,
figure.plain figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 3em;
  width: 100%;
  height: 100%;
}

figure.snip figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 100%;
  border-left: 4px solid #5cbf92;
  content: '';
  opacity: 0;
  background-color: #5cbf92;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

figure.snip h2,
figure.snip p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s, -o-transform 0.35s, transform 0.35s;
}

figure.snip h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(30%, 0%, 0);
  transform: translate3d(30%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

figure.snip h2 span,
figure.plain h2 span {
  font-weight: 700;
}

figure.snip p,
figure.plain p {
  position: absolute;
  font-size: 1.2em;
  bottom: 0;
  padding-bottom: 1.5em;
  font-weight: 200;
  -webkit-transform: translate3d(0%, 30%, 0);
  transform: translate3d(0%, 30%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

figure.snip a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}

figure.snip:hover img {
  opacity: 0.3;
}

figure.snip:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

figure.snip:hover figcaption p {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

figure.snip:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  left: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/*figure plain*/
figure.plain {
  opacity: 1 !important;
}

figure.plain h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: -0.4em;
}

figure.plain:hover {
  transition: background-color 1s ease-out;
  transform: translateY(-2px);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  color: #337ab7;
}

figure.plain:hover h2,
figure.plain:hover p {
  color: #ffffff;
}

figure.plain figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 100%;
  border-left: 4px solid #5cbf92;
  content: '';
  opacity: 1;
  background-color: #5cbf92;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

figure.plain img {
  opacity: 0.4;
}

figure.plain:hover img {
  opacity: 0.8;
}

/*social nav*/
.icons {
  text-align: center;
  margin-bottom: -1em;
}

.icons li {
  display: inline-block;
  margin: 0 4px;
  opacity: 0.7;
}

.icons i {
  font-size: 20px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  width: 45px;
  border-radius: 100%;
  color: #000;
  box-shadow: inset 0 0 0 1px #000;
  position: relative;
  cursor: pointer;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.icons i:hover,
.icons i:focus {
  color: #fff;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.8);
  -moz-transform: rotate(5deg) scale(1.1);
  -ms-transform: rotate(5deg) scale(1.1);
  -webkit-transform: rotate(5deg) scale(1.1);
  transform: rotate(5deg) scale(1.1);
  /*fallback*/
  background-image: -webkit-linear-gradient(left, #2caab3 0%, #2c8cb3 100%);
  background-image: -moz-linear-gradient(left, #2caab3 0%, #2c8cb3 100%);
  background-image: -o-linear-gradient(left, #2caab3 0%, #2c8cb3 100%);
  background-image: linear-gradient(to right, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}

/*Footer*/
.footer {
  position: absolute;
  padding: 1em;
  height: auto;
  bottom: 0;
  width: 100%;
  opacity: 0.7;
}

.footer p {
  font-family: Quicksand;
  padding-top: 0.5em;
  text-align: center;
  margin: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 620px) {
  .card {
    margin: 6px;
  }

  .img-top-align {
    height: auto !important;
  }
  /* Remove the padding we set earlier */
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Responsive: Phones */
@media screen and (max-width: 620px) {
  .card {
    margin-top: 7px;
    margin-bottom: 7px;
  }
  #nav-seperator {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 15px;
  }
  .work {
    min-width: auto;
  }
  figure.snip figcaption,
  figure.plain figcaption {
    padding: 30px 1.5em;
  }
  /* Remove the padding we set earlier */
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .footer p {
    font-size: 0.6em;
  }
}
