<div class="content">
  <div class="feed-grid text-center">

    <div "card wide">
      <!-- <div class="vid-div-slit">
        <div class="videoWrapperSlit">
          <iframe class="videoXtra" src="https://player.vimeo.com/video/183705112?autoplay=1&loop=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div> -->
      <div class="vid-div">
        <div class="videoWrapper">
          <img src="images/branding.jpg" width="100%"></img>
        </div>
      </div>
    </div>

    <div class="card wide">
      <h4>About</h4>
      <p>THE VIDEO KINGS ARE AN AWARD WINNING PRODUCTION COMPANY MAKING FILMS FOR SOME OF THE WORLD'S MOST EXCITING ARTISTS, RECORD-LABELS, COMPANIES & BRANDS</p>
      <br />
      <p><span>"WE  COLLABORATE, WE CREATE, WE TELL STORIES"</span></p>
      <h6>- ED ST PAUL</h6>
    </div>

    <!-- <div class="card wide">
      <h4>People</h4>
      <p class="uppercase">The Video Kings roster of talent is as diverse as it is exciting. Our creatives come from all walks of life but share a common love of incredible visuals and rich storytelling.</p>
    </div> -->

    <div class="card wide no-margin">
      <h4>Contact</h4>
      <h5><i class="fa fa-envelope"></i> info@videokings.tv</h5>
      <h5><i class="fa fa-mobile"></i> +447866856308</h5>
      <iframe id="map" src="//www.google.com/maps/embed/v1/place?q=place_id:ChIJPwSWDAoSdkgRrhZW_HIVKMI&key=AIzaSyBmTA7tMztgaefk3PfC900Y46uZb-Q1q2w" frameborder="0" width="100%"></iframe>
    </div>
  </div>
</div>
