<div class="content">
  <div class="feed-grid">
    <div class="card text-center work-select">
      <a href="#/projects/16">
        <figure class="plain">
          <img src="images/cognita.png" alt="" />
          <figcaption>
            <h2><span>Cognita</span> Schools</h2>
            <p>'Cognita Schools Promo 2016'</p>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="card text-center work-select">
      <a href="#/projects/3">
        <figure class="plain">
          <img src="images/fetch.png" alt="" />
          <figcaption>
            <h2><span>Fetch</span> Media</h2>
            <p>'Slice Of Cake', 'Bears Behaving Badly', 'Amazon'</p>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="card text-center work-select">
      <a href="#/projects/17">
        <figure class="plain">
          <img src="images/lost-village.png" alt="" />
          <figcaption>
            <h2>Lost <span>Village</span></h2>
            <p>'Lost Village Festival Promo 2016'</p>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
</div>
