<div class="content">
  <div class="feed-grid">
    <div class="card text-center work-select">
      <a href="#/projects/16">
        <figure class="plain">
          <img src="images/tenterhook.jpg" alt="video kings, music, video, film, production, video production, freelance, cinematography, red epic, movi, company" />
          <figcaption>
            <h2><span>Met</span> Film School</h2>
            <p>'Alumini Interviews'</p>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="card text-center work-select">
      <a href="#/projects/3">
        <figure class="plain">
          <img src="images/matt-johnson.jpeg" alt="video kings, music, video, film, production, video production, freelance, cinematography, red epic, movi, company" />
          <figcaption>
            <h2><span>Diocese</span> Lincoln</h2>
            <p></p>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
</div>
