<div class="content">
  <div class="feed-grid">
    <div class="card text-center work-select">
      <a href="/projects/19">
        <figure class="plain">
          <img src="images/tenterhook.jpg" alt="video kings, music, video, film, production, video production, freelance, cinematography, red epic, movi, company" />
          <figcaption>
            <h2><span>Met</span> Film School</h2>
            <p>'Alumini Interviews' - 2015</p>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="card text-center work-select">
      <a href="/projects/20">
        <figure class="plain">
          <img src="images/matt-johnson.jpeg" alt="video kings, music, video, film, production, video production, freelance, cinematography, red epic, movi, company" />
          <figcaption>
            <h2><span>Diocese</span> Lincoln</h2>
            <p>'Talking Heads' - 2016</p>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
</div>
