<div class="content">
  <div class="feed-grid">
    <div class="card wide text-center">
      <div class="vid-div">
        <div class="videoWrapper">
          <iframe class="videoXtra" src="https://player.vimeo.com/video/183803654?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      </div>
    </div>
    <div class="card text-center">
      <img src="images/matt-johnson1.jpeg" alt="">
    </div>
    <div class="card text-center">
      <img src="images/lost-village.png" alt="">
    </div>
    <div class="card text-center">
      <img src="images/fetch1.png" alt="">
    </div>
    <div class="card text-center">
      <img src="images/tides.jpg" alt="">
    </div>
    <div class="card text-center">
      <img src="images/wild-fire.jpeg" alt="">
    </div>
    <div class="card text-center">
      <img src="images/burton.png" alt="">
    </div>
  </div>
</div>
