<div class="content">
  <div class="feed-grid">
    <div class="card wide text-center">
      <img src="images/branding.jpg" alt="">
    </div>
    <div class="card text-center">
      <img src="images/branding.jpg" alt="">
    </div>
    <div class="card text-center">
      <img src="images/branding.jpg" alt="">
    </div>
    <div class="card text-center">
      <img src="images/branding.jpg" alt="">
    </div>
    <div class="card text-center">
      <img src="images/branding.jpg" alt="">
    </div>
    <div class="card text-center">
      <img src="images/branding.jpg" alt="">
    </div>
    <div class="card text-center">
      <img src="images/branding.jpg" alt="">
    </div>
  </div>
</div>
