<div class="content">
  <div class="feed-grid">
    <div class="card wide text-center">
      <!-- <div class="videoFrame"> -->
        <iframe class="videoXtra" src="https://player.vimeo.com/video/183705112?autoplay=1&loop=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <!-- </div> -->
    </div>
    <div class="card text-center">
      <img src="images/branding.jpg" alt="">
    </div>
    <div class="card text-center">
      <img src="images/branding.jpg" alt="">
    </div>
    <div class="card text-center">
      <img src="images/branding.jpg" alt="">
    </div>
    <div class="card text-center">
      <img src="images/branding.jpg" alt="">
    </div>
    <div class="card text-center">
      <img src="images/branding.jpg" alt="">
    </div>
    <div class="card text-center">
      <img src="images/branding.jpg" alt="">
    </div>
  </div>
</div>
