<div class="content">
  <div class="feed-grid">
    <div class="card text-center work-select">
      <a href="#/projects/7">
        <figure class="plain">
          <img src="images/amazon.png" alt="" />
          <figcaption>
            <h2><span>The Amazons</span></h2>
            <p>'Amazon'</p>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="card text-center">
      <a href="#/projects/4">
        <figure class="plain">
          <img src="images/tides1.jpg" alt="" />
          <figcaption>
            <h2><span>Audioshock</span></h2>
            <p>'Tides'</p>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="card text-center">
      <a href="#/projects/6">
        <figure class="plain">
          <img src="images/burton1.png" alt="" />
          <figcaption>
            <h2><span>Breton</span></h2>
            <p>'Titan & Parthian Shot'</p>
          </figcaption>
        </figure>
      </a>
    </div>
    <!-- <div class="card text-center">
      <a href="#/projects/5">
        <figure class="plain">
          <img src="images/wild-fire1.jpeg" alt="" />
          <figcaption>
            <h2><span>Kalahara</span></h2>
            <p>'Wild Fire'</p>
          </figcaption>
        </figure>
      </a>
    </div> -->
    <div class="card text-center work-select">
      <a href="#/projects/8">
        <figure class="plain">
          <img class="img-top-align" src="images/fickle-friends1.png" alt="" />
          <figcaption>
            <h2>Fickle <span>Friends</span></h2>
            <p>'For You'</p>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="card text-center">
      <a href="#/projects/9">
        <figure class="plain">
          <img src="images/flaunt.png" alt="" />
          <figcaption>
            <h2><span>Flaunt</span></h2>
            <p>'I Haven't Thought About You Yet</p>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="card text-center">
      <a href="#/projects/1">
        <figure class="plain">
            <img src="images/matt-johnson3.jpeg" alt="" />
          <figcaption>
            <h2>Matt<span> Johnson</span></h2>
            <p>'Get Over You'</p>
          </figcaption>
        </figure>
      </a>
    </div>
    <!-- <div class="card text-center">
      <a href="#/projects/10">
        <figure class="plain">
          <img src="images/gsees1.jpeg" alt="" />
          <figcaption>
            <h2>Grace <span>Sees</span></h2>
            <p>'Better & '</p>
          </figcaption>
        </figure>
      </a>
    </div> -->
    <div class="card text-center">
      <a href="#/projects/15">
        <figure class="plain">
          <img src="images/branding1.jpeg" alt="" />
          <figcaption>
            <h2><span>Graywind</span></h2>
            <p>'Afterthoughts'</p>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="card text-center">
      <a href="#/projects/11">
        <figure class="plain">
          <img src="images/marvin-live.jpg" alt="" />
          <figcaption>
            <h2>Marvin <span>Live</span></h2>
            <p>'Studio Games'</p>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="card text-center work-select">
      <a href="#/projects/12">
        <figure class="plain">
          <img src="images/tenterhook1.png" alt="" />
          <figcaption>
            <h2><span>Tenterhook</span></h2>
            <p>'Stereo'</p>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="card text-center">
      <a href="#/projects/13">
        <figure class="plain">
          <img src="images/rival-karma.jpg" alt="" />
          <figcaption>
            <h2>Rival <span>Karma</span></h2>
            <p>'Bayou'</p>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="card text-center">
      <a href="#/projects/14">
        <figure class="plain">
          <img src="images/vv-brown.jpg" alt="" />
          <figcaption>
            <h2>VV <span>Brown</span></h2>
            <p>'Samson', 'Sub For Love'</p>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
</div>
