<div class="card wide text-center">
  <div class="videoWrapperProfile">
    <iframe src="https://player.vimeo.com/video/184385055" width="747" height="394" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
<div class="card slim">
  <p>VV <span>Brown</span></p>
  <h6>'Samson' - Music Video 2014</h6>
</div>
<div class="card wide text-center">
  <div class="videoWrapperProfile">
    <iframe src="https://player.vimeo.com/video/184392158" width="747" height="394" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
<div class="card slim">
  <p>VV <span>Brown</span></p>
  <h6>'Sub For Love' - Music Video 2014</h6>
</div>
