<div class="card wide text-center">
  <div class="videoWrapperProfile">
    <iframe src="https://player.vimeo.com/video/184500775" width="747" height="420" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
<div class="card slim">
  <p><span>Fetch Media</span></p>
  <h6>'Bears Beehaving Badly Promo Video 1 - Gamblit Gaming - 2016'</h6>
</div>
<div class="card wide text-center">
  <div class="videoWrapperProfile">
    <iframe src="https://player.vimeo.com/video/184500774" width="747" height="420" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
<div class="card slim">
  <p><span>Fetch Media</span></p>
  <h6>'Bears Beehaving Badly Promo Video 2 - Gamblit Gaming - 2016'</h6>
</div>
<div class="card wide text-center">
  <div class="videoWrapperProfile">
    <iframe src="https://player.vimeo.com/video/184106581" width="747" height="420" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
<div class="card slim">
  <p><span>Fetch Media</span></p>
  <h6>'Slice Of Cake Promo Video - Gamblit Gaming - 2015'</h6>
</div>
