<div class="content">
  <div class="feed-grid text-center">
    <div class="vid-div">
      <div class="videoWrapperBranding">
        <img src="images/marvin-live.jpg" width="100%" />
      </div>
    </div>
    <div class="card wide">
      <h4>Creative Direction & Marketing</h4>
      <p>We will guide you through every level of creating the perfect video, from uncovering the message of your business to script writing, story boarding and full preproduction setup.</p>
    </div>
    <div class="card wide">
      <h4>Video Production</h4>
      <p>Video is the communication tool of the future. There are more ways to use video for your business today than ever before, including:</p>
      <p>•  TV Ads  •  Corporate Videos  •  Branding Campaigns  •  Viral Marketing  •  Films  •  Tabletop (food, product, etc.)  •  Real Estate  •  Music Videos  •  Trade Shows</p>
    </div>
    <div class="card wide">
      <h4>Post Production</h4>
      <p>We have a full service post production suite right in house so whether you’ve elected to have us shoot your project or you’re supplying your own footage, we can edit it together to tell the best story.</p>
    </div>
    <div class="card wide no-margin">
      <h4>Contact</h4>
      <h5><i class="fa fa-envelope"></i> info@videokings.tv</h5>
      <h5><i class="fa fa-mobile"></i> +447866856308</h5>
      <iframe id="map" src="//www.google.com/maps/embed/v1/place?q=place_id:ChIJPwSWDAoSdkgRrhZW_HIVKMI&key=AIzaSyBmTA7tMztgaefk3PfC900Y46uZb-Q1q2w" frameborder="0" width="100%" />
    </div>
  </div>
</div>
