<div class="content">
  <div class="feed-grid">
    <div class="card text-center work-select">
      <a href="#/music">
        <figure class="plain">
          <img src="images/gsees.png" alt="" />
          <figcaption>
            <h2><span>Music</span> Videos</h2>
            <p>Fickle Friends, VV Brown, Matt Johnson & more</p>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="card text-center work-select">
      <a href="#/commercial">
        <figure class="plain">
          <!-- <img src="images/fetch2.png" alt="" /> -->
          <img src="images/matt-johnson5.jpeg" alt="" />
          <figcaption>
            <h2><span>Commercial</span> & <span>Promotional</span> Videos</h2>
            <p>Cognita, Fetch Media, Lost Village</p>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="card text-center work-select">
      <a href="#/interviews">
        <figure class="plain">
            <img src="images/pcity1.jpeg" alt="" />
          <figcaption>
            <h2>Talking<span> Heads</span></h2>
            <p>Met Film School, Diocese of Lincoln</p>
          </figcaption>
        </figure>
      </a>
    </div>
    <!-- <div class="card text-center work-select">
      <a href="#/features">
        <figure class="plain">
          <img src="images/matt-johnson5.jpeg" alt="" />
          <figcaption>
            <h2><span>Features </span> & <span> Shorts</span></h2>
            <p>Parrallel City, Seeking Sandman</p>
          </figcaption>
        </figure>
      </a>
    </div> -->
  </div>
</div>
