<div class="content">
  <div class="feed-grid">
    <div class="card text-center work">
      <figure class="snip0016">
        <img src="images/matt-johnson1.jpeg" alt="" />
        <figcaption>
          <h2>Matt <span>JOHNSON</span>&copy</h2>
          <p>'Get Over You'</p>
          <a href="#/projects/1"></a>
        </figcaption>
      </figure>
    </div>
    <div class="card text-center work">
      <figure class="snip0016">
        <img src="images/lost-village.png" alt="" />
        <figcaption>
          <h2>Lost <span>VILLAGE</span>&copy</h2>
          <p>'Promo 2016'</p>
          <a href="#/projects/2"></a>
        </figcaption>
      </figure>
    </div>
    <div class="card text-center work">
      <figure class="snip0016">
          <img src="images/fetch1.png" alt="" />
        <figcaption>
          <h2>Fetch <span>MEDIA</span>&copy</h2>
          <p>'Slice of Cake Promo'</p>
          <a href="#/projects/3"></a>
        </figcaption>
      </figure>
    </div>
    <div class="card text-center work">
      <figure class="snip0016">
        <img src="images/tides.jpg" alt="" />
        <figcaption>
          <h2>Audio<span>shock</span>&copy</h2>
          <p>'Tides'</p>
          <a href="#/projects/4"></a>
        </figcaption>
      </figure>
    </div>
    <div class="card text-center work">
      <figure class="snip0016">
        <img src="images/wild-fire.jpeg" alt="" />
        <figcaption>
          <h2><span>Calahara</span>&copy</h2>
          <p>'Wild Fire'</p>
          <a href="#/projects/5"></a>
        </figcaption>
      </figure>
    </div>
    <div class="card text-center work">
      <figure class="snip0016">
        <img src="images/burton.png" alt="" />
        <figcaption>
          <h2><span>Breton</span>&copy</h2>
          <p>'Titan'</p>
          <a href="#/projects/6"></a>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
